body {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    padding: 8px 16px;
}

#navlogo {
    height: 32px;
}

h1 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 2.5rem;
}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}
h1,h2,h3,h4,h5,h6{
    font-family: 'Inter',sans-serif;
    font-weight: bold;
}

#banner {
    width: 100%;
    object-fit: cover;
    height: 360px;
}

#about {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.25rem;
}

#description {
    width: 50%;
    padding: 0;
}

#team {
    width: 50%;
    object-fit:cover;
    border-radius: 20px;
}

h2 {
    margin-top: 32px;
    text-align: center;
}

#jobs {
    max-width: 800px;
    margin: 0 auto;
}
#jobs-table{
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}

.table-header th{
    border: 1px solid gray;
    width: 25vh;
    padding: 8px;
    background-color: #7DD3FC;
    text-align: center;
    
    
}
.table-data td{
    border: 1px solid gray;
    width:25vh;
    padding: 8px;
    
   
}
#jobs-table tr:nth-child(odd){
    background-color: #BAE6FD;
}
h3 {
    margin-bottom: 8px;
}

#application{
    margin: 0 auto;
    max-width: 800px;
}

#application-form div{
    font-weight: 700;
}

#application-form input,select,textarea{
    margin-top:4px;
    font-size: 1.25rem;
   padding:8px;
   border-radius: 10px;
   border: 1px solid gray;
}
.application-group textarea{
    width: 80%;
    height: 6rem;
    font-family: 'Roboto',sans-serif;
}
.application-group div{
    margin-top: 8px;;
}

.application-group input[type='checkbox']
{
    width: 16px;
    height:16px;
}
#footer {
    background-color:#eee;
    padding: 16px;
    margin-top: 32px;
    text-align: center;
}

#footer-links {
    list-style: none;
}

#footer-links li{
    display: inline;
    margin: 16px;
}

a{
    text-decoration: none;
    color: #3B82F6;
}
a:hover{
    color: #1E40AF;
}

#copyright {
    color: #737373;
}

